version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: condostock-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: condostock
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
